
.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr; /*5 colunas e a proporção de cada coluna*/
    grid-template-rows: 15vh 200vh 10vh 5vh;    /*4 linhas e espaçamento de cada linha */
    grid-template-areas:
    ". logo logo search ."
    ". main side-bar recommended ."
    ". navigate . . . "
    ". help . . ."
}
.logo{
    background-color: lightgreen;
    grid-area: logo;
}
.search{
    background-color: lawngreen;
    grid-area: search;
}
.content{
    background-color: blue;
    grid-area: main;
}
.side-bar{
    background-color: lightseagreen;
    grid-area: side-bar;
}
.recommended{
    background-color: lightsteelblue;
    grid-area: recommended;
}
.navigate{
    background-color: mediumpurple ;
    grid-area: navigate;
}
.about{
    background-color: mediumvioletred;
    grid-area: help;
}
