main .box-content{
    display: grid;
}
main .box-content .content-img{
    margin-top: 1.4vh;
    width: 1fr;
    position: relative;
}
main .box-content .content-img img{
    width: 54vh;
    height: auto;
}