.header .img-logo{
    height: 110%;
    width: 100%;
    margin-top: 3vh;
    background-image: url("../img/FakeAvatarLogo.png");
    background-repeat: no-repeat;
    background-size: 45% 70%;
}
.header .img-logo:hover{
    background-image: url("../img/FakeAvatarLogoHover.png");
    background-repeat: no-repeat;
    background-size: 45% 70%;
}
.header .img-logo img{
    height: 11vh;
}
.search .search-input{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.search .search-input input{
    border: none;
    padding-left: 0.5vw;
    height: 3vh;
    width: 10vw;
    background-color: var(--details-hover);
}
.search .search-input button{
    border: none;
    height: 3vh;
    width: 3vh;
    background-color: var(--details-hover);
}
.search .search-input button:hover{
    background-color: var(--details);
}
.information .information-buttons{
    display: flex;
    align-items: center;
    margin-left: 30%;
    justify-content: space-around;
    margin-right: 2vw;
}
.information .information-buttons a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4vh;
    letter-spacing: 0.04vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 2vh;
    color: var(--select);
    transition: color 300ms, background-color 300ms;
}
.information .information-buttons a:hover{
    color: var(--background);
    background-color: var(--select);
}